.android/
.apport-ignore.xml
.asdf/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.elixir_ls/
.erlang.cookie
.gitconfig
.gitignore
.gnome/
.gnupg/
.hex/
.java/
.lesshst
.local/
.m2/
.mix/
.mozilla/
.npm/
.pki/
.profile
.psql_history
.selected_editor
.sonic-pi/
.sqldeveloper/
.ssh/
.sudo_as_admin_successful
.themes/
.tmux/
.wget-hsts
.zshrc
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
develop/
dotfiles/
exercism/
nohup.out
snap/
tmux-client-69498.log
tools/
vpn/
